@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto-ThinItalic-webfont.eot');
  src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('Roboto-ThinItalic-webfont.woff') format('woff'),
       url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
       url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');
}

html{
  position: relative;
  min-height: 100%;
}

a{
  text-decoration: underline;
  color: #002F5E;
}

a:visited{
  color: #F10060;
}

body{
  margin: 0% 2% 10% 2%;
  font-family: 'Roboto Regular', sans-serif;
  color: #002F5E;
  font-weight: 100;
  padding: 25px;
}

.footer{
  position: absolute;
  font-size: 25px;
  left: 2;
  bottom: 0;
  height: 150px;
  width: 93%;
  overflow: hidden;
}

.footer-break{
  margin-top: 5vh;
  background-color: #002F5E; 
  height: 2px; 
  border: 0;
}

.github{
  position: relative;
  top: 10px;
  left: 5px;
  width: 45px;
  height: 45px;
}

.header {
  background-color: #002F5E; 
  float: right;
}

.button {
  text-align: center; 
  font-size: 25px;
  color: white;
  height: 5.5vh;
  padding-left: 2%;
  padding-right: 2%;
}

.main-button{
  background-color: #F10060; 
  float: left;
}

.main-button:focus, .main-button:hover{
  background-color: white; 
  border: 1px #F10060 solid; 
  color: #002F5E; 
}

.left-margin{
  margin-left: 1%;
}

h1{
  font-family: 'Roboto Black', sans-serif;
  font-size: 60px;
  line-height: 80%;
  margin-bottom: 0%;
}

h2{
  font-size: 29px;
  line-height: 0%;
  font-weight: 100;
  margin-bottom: 3%;
}

.welcome{
  margin-top: 35vh;
}

.welcome-bottom-margin{
  margin-bottom: 20vh;
}

.standard-margin{
  margin-bottom: 11vh;
}

div.standard-header>h1{
  font-family: 'Roboto Black', sans-serif;
  font-size: 35px;
  line-height: 80%;
  margin-top: 1%;
  margin-bottom: 1%;
}

div.standard-header>h2{
  font-size: 17px;
  line-height: 0%;
  font-weight: 400;
  margin-bottom: 3%;
}

.float-right{
  float: right;
}

.small{
  font-size: 15px;
  color: white;
  height: 5vh;
  padding-left: 2%;
  padding-right: 2%;
}

h3{
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 2%;
}

.login-button{
  color: white;
  font-size: 20px;
  width: 22vw;
  height: 5.7vh;
  border: 2px #F10060 solid; 
  background-color: #F10060;
  display: block;
  margin-top: 2%;
  margin-bottom: 1%;
}

.login-button:hover, .login-button:focus {
  background-color:#002F5E;
  border: none;
  color: white;
}

.login>label, .field_with_errors>label{
  color: #002F5E;
  font-size: 20px;
  display: block;
  margin-top: 2%;
}

.login>a{
  font-size: 15px;
  width: 25vw;
  text-align: center;
  margin-bottom: 2%;
}

 div.field_with_errors>input, form.login>input:not(.login-button){
  background-color: white; 
  color: #002F5E;
  padding: 1%;
  font-size: 30px;
  height: 3.5vh;
  width: 25vw;
  border: 2px #F10060 solid; 
  display: block;
}

.errors{
  margin-bottom: 5%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: white; 
  -webkit-text-fill-color: #002F5E;
  padding: 1%;
  font-size: 15px;
  transition: background-color 5000s ease-in-out 0s;
  height: 3.5vh;
  width: 20vw;
  border: 2px #F10060 solid; 
}

/* 
* {
  font-family: 'Roboto';
}

#welcome {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  text-decoration: none;
  font-style: normal;
}

#welcome {
  font-family: 'Roboto'
  /* text-align: left;
  text-decoration: none;
  font-style: normal;
  color: #EB3E37;
}

#welcome p {
  font-family: 'Roboto';
  text-align: left;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
}

#welcome h1 {
  font-family: 'Roboto'
  /* display: block;
  margin-block-start: 0.2em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 0.8em;
  font-size: 210pt;
  animation-duration: 2s;
  animation-name: bounceIn;
  animation-fill-mode: forwards; */
  /* animation-direction: reverse; */
/* }

#welcome h2 {
    display: block;
    font-family: 'Roboto';
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 80pt;
}

#welcome a {
    font-family: 'Roboto';
    text-align: center;
    text-decoration: none;
    font-style: normal;
    color: #0E2B3F;
    font-size: 20pt;
    background-color: lightgreen;
    padding: 7px 12px;
    text-align: center;
    display: inline-block;
    border-radius: 20px; */
    /* animation-duration: 2s;
    animation-name: bounceIn;
    animation-direction: reverse; */
    /* }

#welcome a:visited {
  font-family: 'Roboto'
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  background-color: lightgreen;
  padding: 7px 12px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
    }

#welcome a:hover {
color: #EB3E37;
text-decoration: underline;
}

#welcome a:active {
color: blue;
text-decoration: underline;
}

#standard_page {
  width: 90%;
  margin: 0 auto;
  font-family: 'Roboto';
}

#standard_page h1 {
    display: block;
    font-family: 'Roboto';
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 140pt;
}

#standard_page h2 {
    display: block;
    font-family: 'Roboto';
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 60pt;
}

#standard_page p {
    display: block;
    font-family: 'Roboto'; */

    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 20pt;
}

#standard_page label {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#standard_page input {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#standard_page a:link {
  font-family: 'Roboto';
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  border: 2px black solid;
  background-color: lightgreen;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

#standard_page a:visited {
  font-family: 'Roboto';
  text-decoration: none;
  color: #58B99D;
}

#standard_page a:hover {
  color: #EB3E37;
  text-decoration: underline;
}

#standard_page a:active {
  color: blue;
  text-decoration: underline;
}

#homepage {
  width: 90%;
  margin: 0 auto;
}

#homepage h1 { */
    /* font-family: 'helvetica'; */
    /* font-family: 'Roboto';
    text-align: left;
    text-decoration: none;
    font-style: normal;
    color: #EB3E37;
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 110pt;
}

#homepage h2 {
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 30pt;
}

#homepage p {
    display: block; */
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 20pt;
}

#homepage li {
    display: block;
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 20pt;
}

#homepage label {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#homepage input {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#homepage a:link {
  font-family: 'Roboto'
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  background-color: lightgreen;
  padding: 7px 12px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

#homepage a:visited {
  font-family: 'Roboto'
  text-decoration: none;
  color: #0E2B3F;
}

#homepage a:hover {
  color: #EB3E37;
  text-decoration: underline;
}

#homepage a:active {
  color: blue;
  text-decoration: underline;
}

#story {
  width: 90%;
  margin: 0 auto;
}

#story img {
  -webkit-filter: invert(1);
  filter: invert(1);
  }

#story h1 {
    font-family: 'Roboto';
    text-align: left;
    text-decoration: none;
    font-style: normal;
    color: #EB3E37;
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 110pt;
    animation-duration: 2s;
    animation-name: bounceIn;
    animation-fill-mode: forwards;
}

#story h2 {
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 30pt;
}

#story p {
    display: block; */
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    /* font-weight: none;
    font-size: 20pt;
}

#story li {
    display: block; */
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 20pt;
}

#story label {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#story input {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#story a:link {
  font-family: 'Roboto'
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  background-color: lightgreen;
  padding: 7px 12px;
  text-align: center;
  display: inline-block;
  border-radius: 20px; */
/* }

#story a:visited {
  font-family: 'Roboto'
  text-decoration: none;
  color: #0E2B3F;
}

#story a:hover {
  color: #EB3E37;
  text-decoration: underline;
}

#story a:active {
  color: blue;
  text-decoration: underline;
}


#form {
  width: 90%;
  margin: 0 auto;
}

#form h1 {
    font-family: 'Roboto';
    text-align: left;
    text-decoration: none;
    font-style: normal;
    color: #0E2B3F;
    display: block;
    line-height: 1em;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 80pt;
}

#form h2 {

      font-family: 'Roboto';
      display: block;
      margin-block-start: 0.4em;
      margin-block-end: 0.4em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      color: #EB3E37;
      font-size: 60pt;
}

#form p {
    display: block; */
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    /* font-weight: none;
    color: #0E2B3F;
    font-size: 20pt;
}

#form li {
    background: #B0D8C3;
    display: block;
    width: 45%; */
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    color: #0E2B3F;
    font-size: 20pt;
}

#form label {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        color: #0E2B3F;
    font-size: 20pt;
}

#form select {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0E2B3F;
    font-size: 20pt;
}

#form input {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#form a:link {
  font-family: 'Roboto'
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  background-color: lightgreen;
  padding: 7px 12px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

#form a:visited {
  font-family: 'Roboto'
  text-decoration: none;
  color: #0E2B3F;
}

#form a:hover {
  color: #EB3E37;
  text-decoration: underline;
}

#form a:active {
  color: blue;
  text-decoration: underline;
}

#header input {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}


#header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: left;
  justify-content: left;
}

.pull-right {
  float:right;
}

#header h1 {
    font-family: 'Roboto';
    text-align: left;
    text-decoration: none;
    font-style: normal;
    color: #EB3E37;
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 110pt;
}

#header h2 {
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 30pt;
}

#header p {
    display: block; */
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 20pt;
}

#header li {
    display: block; */
    /* margin-block-start: 0.4em;
    margin-block-end: 0.4em; */
    /* margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: none;
    font-size: 20pt;
}

#header label {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#header input {
    font-family: 'Roboto';
    display: block;
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20pt;
}

#header a:link {
  font-family: 'Roboto'
  text-align: center;
  text-decoration: none;
  font-style: normal;
  color: #0E2B3F;
  font-size: 20pt;
  background-color: lightgreen;
  padding: 7px 12px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}



#header a:visited {
  font-family: 'Roboto'
  text-decoration: none;
  color: #0E2B3F;
}

#header a:hover {
  color: #EB3E37;
  text-decoration: underline;
}

#header a:active {
  color: blue;
  text-decoration: underline;
}
 */
