
<div class="footer">
<hr class = "footer-break"/>
  <%= link_to image_tag("github.png", :class => "github", :alt => "visit github"), "https://github.com/sylwiavargas/Fierce-Stories", :target => "_blank" %>
</div>
